
/* Header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  overflow: inherit;
}

body {
  line-height: 1.6;
  color: #333;
}

header {
  background: #2d8f85;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
